.canvas {
    display: flex;
    flex-direction: column;
}

.canvas-row {
    display: flex;
    flex-direction: row;
}

.canvas-pixel {
    -webkit-app-region: no-drag;
}

.canvas-pixel:hover {
    background-color: white;
}