.App {
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --menu-height: 20px;
    --toolbar-width: 30px;
    --palette-width: 30px;
}

.canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(161, 161, 161);
}

.canvas-container {
    height: 100%;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas__pixel {
    aspect-ratio: 1/1;
}

.palette__container {
    z-index: 100;
    position: absolute;
    top: var(--menu-height);
    left: 0px;
    display: flex;
    flex-direction: row;
}

.palette__menu {
    height: calc(100vh - var(--menu-height));
    width: var(--palette-width);
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.palette__color {
    aspect-ratio: 1/1;
    width: 50%;
    border: 2px solid black;
    border-radius: 5px;
}

.menu__frame {
    position: fixed;
    z-index: 200;
    top: 0px;
    width: 100%;
    height: var(--menu-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    padding-left: 10px;
    background-color: rgb(247, 247, 247);
}

.menu__frame > div > label {
    padding: 3px 10px 3px 3px;
    height: var(--menu-height);
}

.submenu__list {
    border-radius: 10px;
    cursor: pointer;
    list-style: none;
    position: absolute;
    margin: 0;
    display: block;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
    padding: 0;
}

.submenu__item {
    padding: 4px 20px 4px 20px;
}

.submenu__item:hover {
    background-color: rgb(180, 180, 180);
}

.toolbar__frame {
    height: calc(100vh - var(--menu-height));
    top: var(--menu-height);
    width: var(--toolbar-width);
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
}

.toolbar__tool{
    width: var(--toolbar-width);
    height: var(--toolbar-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar__tool.selected {
    background-color: rgb(194, 194, 194);
}

.toolbar__tool:hover{
    background-color: white;
}

.toolbar__tool-label{
    z-index: 50;
    position: absolute;
    right: -100%;
    display: none;
    transition: right 2s;
}

.toolbar__tool-label.hovered{
    right: 130%;
    display: block;
}

