.App {
    width: 100%;
}

.canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(161, 161, 161);
}

.canvas-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-pixel {
    aspect-ratio: 1/1;
}